/* Comment */
* {
    width: 85%;
}

h1 {
    font-size: 55px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} /* tag */

.para-text {
    font-size: 25px;
    color: blue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} /* class */

a:hover {
    color: brown;
}

.add-border {
    border: 2px solid #442bd3;
    padding: 20px;
    margin: 40px 15px 40px 15px;
    display: block;
}
